@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Inconsolata", sans-serif;
}

body {
  background-image: url("../img/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #808080;  */
  /* #c3e6d6; */
  /* #F2E0EA; */
  color: #242424;
  height: 100vh;
}

ul {
  list-style-type: none;
  font-size: 0.9rem;
}

h1 {
  font-family: "Tiny5", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

p { 
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

a {
  color: #457348;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-container {
  background-color: white;
  border: 2px solid black;
  border-top: 30px solid black;
  width: 640px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 3vh;
  /* border-radius: 10px; */
}

.left-align {
  text-align: left;
  width: 480px;
  margin: auto;
}

.navbar-deco {
  font-family: sans-serif;
}

.page-banner {
  background-color: black;
  padding: 4px;
  text-align: center;
  color: white;
}

/* 
ABOUT PAGE
*/
#pogoImg {
  display: none;
  width: 200px;
  margin: auto;
}

/* 
MUSIC PLAYER
 */
#music-player {
  margin-top: 50px;
}

/* 
NAVBAR/PAGES
*/

#aboutPageBtn {
  color: #242424;
}

.navbar-btn {
  color: #a0a0a0;
}

.navbar-btn:hover {
  cursor: pointer;
}

#builds-page, #shelf-page {
  display: none;
}


/* 
AUDIO PLAYER
 */
 audio {
  height: 40px;
  width: 320px;
}

#music-prev, #music-next {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

#music-controls {
  vertical-align: middle;
}